{{ define "head" }}
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9123861156561903"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/ressources/css/uikit.min.css?v=0.10">
    <link rel="stylesheet" href="/ressources/css/hpp.css?v=0.15">
    <meta charset="UTF-8">
    <title>Hpp Gacha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{{ end }}

{{ define "head_shadow" }}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/ressources/css/uikit.min.css?v=0.10">
    <link rel="stylesheet" href="/ressources/css/shadow.css?v=0.15">
    <meta charset="UTF-8">
    <title>Hpp Gacha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{{ end }}
