<!DOCTYPE html>
<html lang="en">

{{ template "head"}}

<body>
    {{ template "navbar" .}}
    <div class="grid">
        <div class="grid-left">

        </div>
        <div class="grid-center">
            {{ if .User.Username }}
            {{ template "slider" .}}
            <div class="centered">
                <div>Time before new roll : <span id="timerToRoll"></span></div>
                <button class="uk-button uk-button-secondary uk-width-1-2" id="roll" onclick="debouncedRoll()">Roll :
                    <span data-rolls="{{.User.AvailableRolls}}" id="availableRolls">{{.User.AvailableRolls}}</span>
                </button>

                {{ else }}
                <button class="uk-button uk-button-secondary uk-width-1-2" id="roll"
                    onclick="debouncedRoll()">Roll</button>
                {{ end }}
            </div>
        </div>
        <div class="grid-right">

        </div>
    </div>
    <div id="rolled" class="rollGrid">
    </div>
    <div class="uk-text-center uk-child-width-1-2@s uk-margin-small-bottom" uk-grid="masonry: true">
        <div>
            <p><b>Update 14</b> A strange portal appeared!</p>
            <p><b>Update 13</b> Legendary cards are now available !</p>
            <p><b>Update 12</b> Back of cards is out !</p>
            <p><b>Update 11</b> Filters and Sorting is out !</p>
        </div>
        <div>

            <p><b>Infos :</b>
                You get 4 rolls at signup
                and 1 roll every two hour
                for a maximum stock of 4
            </p>
        </div>
        <div>
            <table class="uk-margin-auto uk-table-small  uk-table-striped uk-light">
                <thead>
                    <tr>
                        <th colspan="2">Best collector based on unique cards obtained</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .TopCollectors }}
                    <tr>
                        <td>{{.Username}}</td>
                        <td>{{.UniqueCard}} / {{$.MaxCards}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div>
            A new poll will be available soon.
        </div>
    </div>

    {{template "footer"}}
    {{ template "js"}}
</body>

</html>