<!DOCTYPE html>
<html lang="en">

{{ template "head"}}

<body>
    {{ template "navbar" .}}
    <div class="grid">
        <div class="grid-left">

        </div>
        <div class="grid-center">
            <h1></h1>
            {{ if .User.Username }}
            <div>

                Time before new roll : <span id="timerToRoll"></span>
            </div>
            <button class="uk-button uk-button-secondary uk-width-1-1" id="roll" onclick="roll()">Roll : <span
                    data-rolls="{{.User.AvailableRolls}}" id="availableRolls">{{.User.AvailableRolls}}</span> </button>

            {{ else }}
            <button class="uk-button uk-button-secondary uk-width-1-1" id="roll" onclick="debouncedRoll()">Roll</button>
            {{ end }}
        </div>
        <div class="grid-right">

        </div>
    </div>
    <div id="rolled" class="rollGrid">
    </div>
    <div class="uk-text-center uk-child-width-1-2@s uk-margin-small-bottom" uk-grid="masonry: true">
        <div>
            <p><b>Update 12</b> Back of cards is out !</p>
            <p><b>Update 11</b> Filters and Sorting  is out !</p>
            <p><b>Update 10</b> Recycling cards is out !</p>
            <p><b>Update 9</b> Leaderboard for best collector is out !</p>
        </div>
        <div>

            <p><b>Infos :</b>
                You get 4 rolls at signup
                and 1 roll every two hour
                for a maximum stock of 4
            </p>
        </div>
        <div>
            <table class="uk-margin-auto uk-table-small  uk-table-striped uk-light">
                <thead>
                    <tr>
                        <th colspan="2">Best collector based on unique cards obtained</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .TopCollectors }}
                    <tr>
                        <td>{{.Username}}</td>
                        <td>{{.UniqueCard}} / {{$.MaxCards}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div>
            <div class="strawpoll-embed" id="strawpoll_GeZANJAAbyV"
            style="height: 900px; max-width: 640px; width: 100%; margin: 0 auto; display: flex; flex-direction: column;">
            <iframe title="StrawPoll Embed" src="https://strawpoll.com/embed/polls/GeZANJAAbyV"
                style="position: static; visibility: visible; display: block; width: 100%; flex-grow: 1;" frameborder="0"
                allowfullscreen allowtransparency>Loading...</iframe>
            <script async src="https://cdn.strawpoll.com/dist/widgets.js" charset="utf-8"></script>
        </div>
        </div>
    </div>

    {{template "footer"}}
    {{ template "js"}}
</body>

</html>