<!DOCTYPE html>
<html lang="en">
{{ define "card"}}
<div class="tag-common" data-name="{{.inventory.Card.Cardname}}" data-quantity="{{.inventory.Quantity}}">
    <div class="card">
        <img loading="lazy" class="imgResize" src="ressources/pics/{{ .inventory.Card.Avatar }}" alt="{{.inventory.Card.Cardname}}">
        <div class="container">
            <h4><b>{{ .inventory.Card.Cardname }}</b></h4>

        </div>
    </div>
    x <span id="{{ .inventory.Card.ID }}-quantity">{{ .inventory.Quantity}}</span>
    <button class="uk-button-small uk-button-secondary uk-margin-small-top" {{ if or ((eq .inventory.Quantity 1)) (and (lt .inventory.Quantity 4) (eq .baseLeft 0)  )}} disabled {{end}}
        type="button">Actions</button>
    <div class="uk-light uk-background-secondary " uk-dropdown="mode: click;">
        <ul class="uk-nav uk-dropdown-nav">
            {{ if ge .inventory.Quantity 4 }}
            <li class="li-action recycle" data-id="{{.inventory.Card.ID}}" data-quantity="{{.inventory.Quantity}}">Recycle 3 for 1 roll</li>
            <li class="uk-nav-divider"></li>
            {{ end }}
            {{ if and (ge .inventory.Quantity 2) (gt .baseLeft 0)}}
            <li class="li-action sacrifice" data-rarity="{{.inventory.Card.Rarity}}" data-id="{{.inventory.Card.ID}}"
                data-quantity="{{.inventory.Quantity}}">Sacrifice </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end}}

{{ define "rareCard" }}
<div class="tag-rare" data-name="{{.inventory.Card.Cardname}}" data-quantity="{{.inventory.Quantity}}">
    <div class="rare-card-container-inventory">
        <div class="rare-card-inventory">
            <img class="imgResize" loading="lazy" src="ressources/pics/{{ .inventory.Card.Avatar }}" alt="{{.inventory.Card.Cardname}}">
        </div>
        <div class="rare-container">
            <h4> <b>{{.inventory.Card.Cardname}}</b></h4>
        </div>
    </div>
    x <span id="{{ .inventory.Card.ID }}-quantity">{{ .inventory.Quantity}}</span>
    <button class="uk-button-small uk-button-secondary uk-margin-small-top" {{ if  or ((eq .inventory.Quantity 1)) (and (lt .inventory.Quantity 4) (eq .rareLeft 0)  ) }} disabled {{end}}
        type="button">Actions</button>
    <div class="uk-light uk-background-secondary " uk-dropdown="mode: click;">
        <ul class="uk-nav uk-dropdown-nav">
            {{ if ge .inventory.Quantity 4 }}
            <li class="li-action recycle" data-id="{{.inventory.Card.ID}}" data-quantity="{{.inventory.Quantity}}">Recycle 3 for 1 roll</li>
            <li class="uk-nav-divider"></li>
            {{ end }}
            {{ if and (ge .inventory.Quantity 2) (gt .rareLeft 0) }}
            <li class="li-action sacrifice" data-rarity="{{.inventory.Card.Rarity}}" data-id="{{.inventory.Card.ID}}"
                data-quantity="{{.inventory.Quantity}}">Sacrifice </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}

{{ define "legendaryCard" }}
<div class="tag-legendary" data-name="{{.Card.Cardname}}" data-quantity="{{.Quantity}}">
    <div class="legendary-card-container-inventory">
        <div class="legendary-card-inventory">
            <img loading="lazy" class="imgResize" src="ressources/pics/{{ .Card.Avatar }}" alt="{{.Card.Cardname}}">
        </div>
        <div class="legendary-container">
            <h4><b class="rainbow_text_animated">{{.Card.Cardname}}</b></h4>
        </div>
    </div>
    x <span id="{{ .Card.ID }}-quantity">{{ .Quantity}}</span>
    <button class="uk-button-small uk-button-secondary uk-margin-small-top" {{ if lt .Quantity 4 }} disabled {{end}}
        type="button">Actions</button>
    <div class="uk-light uk-background-secondary " uk-dropdown="mode: click;">
        <ul class="uk-nav uk-dropdown-nav">
            {{ if ge .Quantity 4 }}
            <li class="li-action recycle" data-id="{{.Card.ID}}" data-quantity="{{.Quantity}}">Recycle 3 for 1 roll</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}


{{ define "shadowCard" }}
<div class="tag-shadow" data-name="{{.Card.Cardname}}" data-quantity="{{.Quantity}}">
    <div class="shadow-card-container-inventory">
        <div class="shadow-card-inventory">
            <img loading="lazy" class="imgResize" src="ressources/pics/{{ .Card.Avatar }}" alt="{{.Card.Cardname}}">
        </div>
        <div class="shadow-container">
            <h4><b class="shadow_rainbow_text_animated">{{.Card.Cardname}}</b></h4>
        </div>
    </div>
    x <span id="{{ .Card.ID }}-quantity">{{ .Quantity}}</span>
</div>
{{ end }}

{{ template "head" }}

<body>
    {{ template "navbar_inventory" .}}
    <flash-messages data-max-messages="5"></flash-messages>
    <div class="grid">
        <div></div>
        <div class="grid-center">
            <h2>My inventory : </h2>
        </div>
    </div>
    </div>
    <div id="rolled" style="min-height:650px" uk-filter="target: .card-filter">
        <div class="uk-grid-medium  uk-margin-auto uk-grid-divider  uk-child-width-auto" uk-grid>
            <ul class="uk-subnav uk-subnav-pill">
                <li uk-filter-control><a href="#">All</a></li>
                <li uk-filter-control="filter:.tag-shadow;group:rarity"><a href="#">Shadow</a></li>
                <li uk-filter-control="filter:.tag-legendary;group:rarity"><a href="#">Legendary</a></li>
                <li uk-filter-control="filter:.tag-rare;group:rarity"><a href="#">Rare</a></li>
                <li uk-filter-control="filter:.tag-common;group:rarity"><a href="#">Common</a></li>
            </ul>
            <ul class="uk-subnav uk-subnav-pill">
                <li class="uk-active" uk-filter-control="sort:data-name"><a href="#">Name A - Z</a></li>
                <li uk-filter-control="sort:data-name;order:desc;"><a href="#">Name Z - A</a></li>
            </ul>
            <ul class="uk-subnav uk-subnav-pill">

                <li uk-filter-control="sort:data-quantity;order:desc"><a href="#">Quantity + </a></li>
                <li uk-filter-control="sort:data-quantity;"><a href="#">Quantity - </a></li>
            </ul>
        </div>
        <ul uk-grid class="uk-grid-medium  uk-margin-large-bottom uk-margin-auto card-filter">
            {{ if .CardsInInventory}}
            {{ range .CardsInInventory }}
            {{ if .Card.IsShadowCard }}
            {{ template "shadowCard" .}}
            {{ else if eq .Card.Rarity 2}}
            {{ template "rareCard" dict "inventory" . "rareLeft" $.ShadowPortal.RareCardLeft}}
            {{ else if eq .Card.Rarity 3}}
            {{ template "legendaryCard" .}}
            {{ else }}
            {{ template "card" dict "inventory" . "baseLeft" $.ShadowPortal.BaseCardLeft }}
            {{end}}
            {{end}}
            {{end}}
        </ul>
    </div>
    {{template "footer"}}
    {{ template "js"}}
</body>