<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/ressources/css/hpp.css?v=0.10">
    <meta charset="UTF-8">
    <title>Hpp Roll </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{{ define "card"}}
<div class="card">
    <img class="imgResize" src="ressources/pics/{{ .Card.Avatar }}" alt="{{.Card.Cardname}}">
    <div class="container">
        <h4><b>{{ .Card.Cardname }}</b></h4>

    </div>
</div>
x <span id="{{ .Card.ID }}-quantity">{{ .Quantity}}</span>
{{ if ge .Quantity 4 }}
<button class="recycle" data-id="{{.Card.ID}}" data-quantity="{{.Quantity}}">Recycle
    3 for 1 roll </button>
{{ end }}

{{ end}}

{{ define "rareCard" }}
<div class="rare-card-container">
    <div class="rare-card">
        <img class="imgResize" src="ressources/pics/{{ .Card.Avatar }}" alt="{{.Card.Cardname}}">
    </div>
    <div class="rare-container">
        <b>{{.Card.Cardname}}</b>
    </div>
</div>
x <span id="{{ .Card.ID }}-quantity">{{ .Quantity}}</span>
{{ if ge .Quantity 4 }}
<button class="recycle" data-id="{{.Card.ID}}" data-quantity="{{.Quantity}}">Recycle
    3 for 1 roll </button>
{{ end }}
{{ end }}

<body>
    <flash-messages data-max-messages="5"></flash-messages>
    <div class="grid">
        <div></div>
        <div class="grid-center">
            {{ if not .Username }}
            <a href="/login"><button>Login</button></a>
            <a href="/inscription"><button>Sign up</button></a>
            {{ else }}
            Connected as : {{ .Username }}
            <div id="connected" data-connected=true>
                <a href="/"><button id="homeBtn">Home</button></a>
                <h2>My inventory : </h2>
            </div>
            {{end}}
        </div>
    </div>
    <div id="rolled" class="rollGrid">
        {{ if .CardsInInventory}}
        {{ range .CardsInInventory }}
        <div>
            {{ if eq .Card.Rarity 2}}
            {{ template "rareCard" .}}
            {{ else }}
            {{ template "card" . }}
            {{end}}
        </div>
        {{end}}
        {{end}}
    </div>
    <script src="/ressources/js/flashy.js"></script>
    <script type="text/javascript" src="/ressources/js/hpp.js"></script>
</body>