{{ template "head"}}

<body>
    {{ template "navbar_login"}}
    <div class="uk-position-center">
        <div>
            <h1>Login</h1>
            <form method="post" action="/signin">
                <label for="username">User name</label>
                <input class="uk-input" required="required" type="text" id="username" name="username">
                <label for="password">Password</label>
                <input class="uk-input" required="required" type="password" id="password" name="password">
                <button class="uk-margin-small-top uk-button uk-button-secondary" type="submit">Login</button>
            </form>
        </div>
        {{ if .}}
        <h2 class="error-login">
            {{.}}
        </h2>
        {{ end }}
    </div>

        {{ template "footer"}}
        {{ template "js"}}
</body>