{{ define "navbar"}}
<nav class="uk-background-secondary uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-margin-small-left uk-visible@s">
            <li class="uk-active"><a href="/">Home</a></li>
            {{ if not .User.Username }}
            <li><a id="connected" data-guest="true" href="/login">Login</a></li>
            <li><a href="/inscription">Sign up</a></li>
            {{ else }}
            <li><a id="connected" data-connected=true href="/inventory">Inventory</a> </li>
            {{end}}
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@s uk-margin-small-left" uk-navbar-toggle-icon
            uk-toggle="target: #sidenav"></a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav uk-visible@s">
            <li>
                HppGacha
            </li>
        </ul>
    </div>
    {{ if .User.Username }}
    <div class="uk-navbar-right uk-margin-large-right">
        <ul class="uk-navbar-nav">
            <li> Connected as : {{ .User.Username }}</li>
        </ul>
    </div>
    {{end}}
</nav>

<div id="sidenav" uk-offcanvas="bg-close:true;mode:reveal;" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li class="uk-active"><a href="#">Home</a></li>
            {{ if not .User.Username }}
            <li><a id="connected" data-guest="true" href="/login">Login</a></li>
            <li><a href="/inscription">Sign up</a></li>
            {{ else }}
            <li><a id="connected" data-connected=true href="/inventory">Inventory</a> </li>
            {{end}}
        </ul>
    </div>
</div>
{{ end }}


{{ define "navbar_login"}}
<nav class="uk-background-secondary uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-margin-small-left uk-visible@s">
            <li><a href="/">Home</a></li>
            <li class="uk-active"><a href="#">Login</a></li>
            <li><a href="/inscription">Sign up</a></li>
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@s uk-margin-small-left" uk-navbar-toggle-icon
            uk-toggle="target: #sidenav"></a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav uk-visible@s">
            <li>
                HppGacha
            </li>
        </ul>
    </div>
</nav>
<div id="sidenav" uk-offcanvas="bg-close:true;mode:reveal;" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li><a href="/">Home</a></li>
            <li class="uk-active"><a href="/login">Login</a></li>
            <li><a href="/inscription">Sign up</a></li>
        </ul>
    </div>
</div>
{{ end }}

{{ define "navbar_signup"}}
<nav class="uk-background-secondary uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-margin-small-left uk-visible@s">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class="uk-active" href="#">Sign up</a></li>
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@s uk-margin-small-left" uk-navbar-toggle-icon
            uk-toggle="target: #sidenav"></a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav uk-visible@s">
            <li>
                HppGacha
            </li>
        </ul>
    </div>
</nav>
<div id="sidenav" uk-offcanvas="bg-close:true;mode:reveal;" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class="uk-active" href="/inscription">Sign up</a></li>
        </ul>
    </div>
</div>
{{ end }}

{{ define "navbar_inventory"}}
<nav class="uk-background-secondary uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-margin-small-left uk-visible@s">
            <li><a href="/">Home</a></li>
            <li class="uk-active"> <a href="#">Inventory</a> </li>
        </ul>
        <a href="#" class="uk-navbar-toggle uk-hidden@s uk-margin-small-left" uk-navbar-toggle-icon
            uk-toggle="target: #sidenav"></a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav uk-visible@s">
            <li>
                HppGacha
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right uk-margin-large-right">
        Connected as : {{ .Username }}
    </div>
</nav>
<div id="sidenav" uk-offcanvas="bg-close:true;mode:reveal;" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li><a href="/">Home</a></li>
            <li class="uk-active"> <a href="/inventory">Inventory</a> </li>
        </ul>
    </div>
</div>
{{ end }}