<html>
{{ template "head_shadow"}}

<body>
    {{ template "navbar_shadow" . }}
    <div uk-parallax="bgy: -200" class="realbody">
        <div class="grid">
            <div class="grid-left">
            </div>
            <div class="grid-center">
                <h1></h1>
                {{ if eq .ShadowPortal.HasAccess false }}
                <div class="lore-text">
                    {{if eq .ShadowPortal.BaseCardLeft 0 }}
                    The portal is wide open.
                    {{ else if lt .ShadowPortal.BaseCardLeft 11 }}
                    Something is trying to get ouf of the portal.
                    {{ else if lt .ShadowPortal.BaseCardLeft 21 }}
                    Your hear voices, it won't be long now.
                    {{ else if lt .ShadowPortal.BaseCardLeft 31 }}
                    Reality is starting to be distorded.
                    {{else if lt .ShadowPortal.BaseCardLeft 41 }}
                    If nothing is done the portal will corrupt the surroundings.
                    {{else if lt .ShadowPortal.BaseCardLeft 51 }}
                    You were right the portal is growing.
                    {{else if lt .ShadowPortal.BaseCardLeft 61 }}
                    You have a bad feeling, the portal seems to be growing.
                    {{else if lt .ShadowPortal.BaseCardLeft 71 }}
                    Something about the portal feels different.
                    {{ else }}
                    The portal is closed. At least for now...
                    {{end}}
                    {{ if eq .ShadowPortal.RareCardLeft 0 }}
                    This reality is done for.
                    {{ else if lt .ShadowPortal.RareCardLeft 7 }}
                    Stop before it's too late !
                    {{ else if lt .ShadowPortal.RareCardLeft 15}}
                    What have you done ?!
                    {{end}}
                </div>
                {{else}}
                <button class="uk-button uk-button-secondary uk-width-1-1" id="roll"
                    onclick="debouncedShadowRoll()">Shadow Roll : <span
                        data-rolls="{{.ShadowPortal.AvailableShadowRolls}}"
                        id="availableShadowRolls">{{.ShadowPortal.AvailableShadowRolls}}</span></button>
                {{end}}

            </div>
            <div class="grid-right">

            </div>
        </div>
        <div id="rolled" class="rollGrid">
        </div>
    </div>
    {{template "footer"}}
    {{ template "js"}}
</body>

</html>