{{define "navbar_admin_home"}}
<ul>
    <li><a class="active" href="/adminw">Home</a></li>
    <li><a href="/admin/new_card">New card</a></li>
    <li><a href="/admin/show_users">See users</a></li>
    <li><a href="/admin/show_cards">Card list</a></li>
</ul>
{{end}}

{{define "navbar_admin_new_card"}}
<ul>
    <li><a href="/adminw">Home</a></li>
    <li><a class="active" href="/admin/new_card">New card</a></li>
    <li><a href="/admin/show_users">See users</a></li>
    <li><a href="/admin/show_cards">Card list</a></li>
</ul>
{{end}}

{{define "navbar_admin_users"}}

<ul>
    <li><a href="/adminw">Home</a></li>
    <li><a href="/admin/new_card">New card</a></li>
    <li><a class="active" href="/admin/show_users">See users</a></li>
    <li><a href="/admin/show_cards">Card list</a></li>
</ul>
{{end}}

{{define "navbar_admin_cards"}}
<ul>
    <li><a href="/admin/">Home</a></li>
    <li><a href="/admin/new_card">New card</a></li>
    <li><a href="/admin/show_users">See users</a></li>
    <li><a class="active" href="/admin/show_cards">Card list</a></li>
</ul>
{{end}}