<!DOCTYPE html>
<html>

<head>
    <title>HppGacha Admin</title>
    <link rel="stylesheet" href="/ressources/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{template "navbar_admin_cards"}}
    <div class="side">
        There is {{ len .}} cards
        <table id="users">
            <thead>
                <tr>
                    <th>Card name</th>
                    <th>Rarity</th>
                    <th>Weight</th>
                    <th>Shadow card</th>
                    <th>Event card</th>
                    <th>Banners</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ if .}}
                {{ range .}}
                <tr>
                    <td>{{ .Cardname }}</td>
                    <td>{{ .Rarity }}</td>
                    <td>{{ .Weight }}</td>
                    <td>{{ .IsShadowCard }}</td>
                    <td>{{ .IsEventCard }}</td>
                    <td>
                        {{ range .Banners }}
                            {{ .Bannername }}<br>
                        {{ end }}
                    </td>
                    <td><button onclick="location.href='/admin/edit_card?id={{ .ID}}'">Edit</button>
                        <form action="/admin/delete_card" method="POST" onsubmit="return confirm('Are you sure you want to delete this card?');">
                            <input type="hidden" name="id" value="{{.ID}}">
                            <button type="submit">Delete Card</button>
                        </form>
                    </td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </div>
</body>

</html>
