<!DOCTYPE html>
<html>

<head>
    <title>HppGacha Admin</title>
    <link rel="stylesheet" href="/ressources/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{template "navbar_admin_users"}}

    <div class="side">
        <table id="users">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Roll available</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ if .}}
                {{ range .}}
                <tr>
                    <td>{{ .Username }}</td>
                    <td>{{ .AvailableRolls }}</td>
                    <td><button>+</button></td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </div>
</body>

</html>