<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/ressources/hpp.css">
        <meta charset="UTF-8">
        <title>Hpp Roll </title>
    </head>

    <body>
        <div class="grid">
            <h1>Welcome to the HppGacha (Wip)</h1>
            <button id="roll" onclick="roll()">Roll</button>
        </div>
        <div  id="rolled" class="rollGrid">
        </div>
    </body>

    
</html>

<script>
    function roll(){
        console.log('gello')
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("rolled").innerHTML += this.responseText;
            }
        };
        xhttp.open('GET','/roll')
        xhttp.send()
    }
</script>