<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/ressources/hpp.css">
    <meta charset="UTF-8">
    <title>Hpp Roll </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid">
        <div class="grid-left">
            {{ if not .User.Username }}
            <a href="/login"><button>Login</button></a>
            <a href="/inscription"><button>Sign up</button></a>
            {{ else }}
            Connected as : {{ .User.Username }}
            <div id="connected" data-connected=true>
                <h2>My inventory : </h2>
                {{ if .Inventory.Cards}}
                {{ range .Inventory.Cards }}
                <div>
                    {{ .Name}} : x{{ .Quantity }}
                </div>
                {{end}}
                {{end}}
            </div>
                {{end}}
        </div>
        <div class="grid-center">
            <h1>Welcome to the HppGacha (Wip)</h1>
            <button id="roll" onclick="roll()">Roll</button>
        </div>
        <div>
            if you notice any bug please tag @shaycaith:disqus
        </div>
    </div>
    <div id="rolled" class="rollGrid">
    </div>

    <script type="text/javascript" src="/ressources/hpp.js"></script>
</body>

</html>