<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/ressources/hpp.css">
        <meta charset="UTF-8">
        <title>Hpp Roll </title>
    </head>

    <body>
        <div class="grid">
            <h1>Welcome to the HppGacha (Wip)</h1>
            <button id="roll" onclick="roll()">Roll</button>
        </div>
        <div  id="rolled" class="rollGrid">
        </div>

    <script type="text/javascript" src="/ressources/hpp.js"></script>
    </body>    
</html>
