<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/ressources/hpp.css?v=0.9">
    <meta charset="UTF-8">
    <title>Hpp Roll </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{{ define "card"}}
<div class="card">
    <img class="imgResize" src="ressources/pics/{{ .Avatar }}" alt="{{.Name}}">
    <div class="container">
        <h4><b>{{ .Name }}</b></h4>
        
    </div>
</div>
x {{ .Quantity}}

{{ end}}

{{ define "rareCard" }}
<div class="rare-card-container">
    <div class="rare-card">
        <img class="imgResize" src="ressources/pics/{{ .Avatar }}" alt="{{.Name}}">
    </div>
    <div class="rare-container">
        <b>{{.Name}}</b>
    </div>
</div>
x {{ .Quantity}}
{{ end }}

<body>
    <div class="grid">
        <div></div>
        <div class="grid-center">
            {{ if not .User.Username }}
            <a href="/login"><button>Login</button></a>
            <a href="/inscription"><button>Sign up</button></a>
            {{ else }}
            Connected as : {{ .User.Username }}
            <div id="connected" data-connected=true>
                <a href="/"><button id="homeBtn">Home</button></a>
                <h2>My inventory : </h2>
            </div>
            {{end}}
        </div>
    </div>
    <div id="rolled" class="rollGrid">
        {{ if .Inventory.Cards}}
        {{ range .Inventory.Cards }}
        <div>
            {{ if eq .Rarity 2}}
            {{ template "rareCard" .}}
            {{ else }}
            {{ template "card" . }}
            {{end}}
        </div>
        {{end}}
        {{end}}
    </div>
</body>