<div class="rare-card-container">
    <div class="rare-card">
        <img class="imgResize" src="ressources/pics/{{ .Avatar }}" alt="{{.Name}}">
    </div>
    <div class="rare-container">
        <b>{{.Name}}</b>
    </div>
</div>