body {
    background-image: url("/ressources/background.png");
}

.grid{
    display: grid;
    place-content: center;
}
.rollGrid{
    display: grid;
    grid-template-columns:  repeat(4, auto);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    place-content: center;
}

.imgResize{
    width: 180px;
    height: 170px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: blanchedalmond;
    margin-top: 10px;
    max-height: 244px;
    max-width: 180px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }